html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	
}

.title {
	display:flex;
	flex-direction:row;
	/* border-style:solid; */
}
#description {
	margin:30px 0px 0px 50px;
}

.title h1 {
	font-family: 'Karla', sans-serif;
	font-size:30px;
	padding:0% 0% 0% 2%;
	/* border-style:solid; */
}
.title p {
	font-family: 'Karla', sans-serif;
	font-size:16px;
	padding:0% 0% 0% 2%;
	/* border-style:solid; */
}

/* !!! jquery selectors !!! */

#Living_page li.active {
	color:#FF2F6D;
}
		#Food_page li.active {
			color:#FF2F6D;
		}
				#Dining_halls_page li.active {
					color:#FF2F6D;
				}

.category1 {
	position: absolute;
	background-color:#FF2F6D;
	width: 100%;
	height: 100%;
	transition-duration: 0.2s;
	color:white;
	
}
		#category1-items {
			text-align:center;
			margin:3% 0% 0% 0%;
		}

		.category1-icons {
			width:50%;
			height:auto;
		}

				#living_text {
					margin:10px 0px 40px 0px;
			
				}
				#making_text {
					margin:10px 0px 40px 0px;
				}
				#academics_text {
					margin:10px 0px 40px 0px;
				}
				#leisure_text {
					margin:10px 0px 40px 0px;
				}
				#cute_manifesto {
					margin-top:75px;
				}


.category2,
.category3 {
	position: absolute;
	background-color:white;
	width: 100%;
	height: 100%;
	transition-duration: 0.2s;
	margin:8% 0% 0% 0%;
	line-height:1.5;
	
}

.category4 {
	position: absolute;
	background-color:white;
	width: 30%;
	height: 100%;
	transition-duration: 0.2s;
	margin:8% 0% 0% 0%;
	line-height:1.5;
	overflow-x: scroll;
}

.category5 {
	position: absolute;
	width: 15%;
	height: 100%;
	transition-duration: 0.2s;
	margin:8% 0% 0% 0%;
	
}



	
.category2,
.category3,
.category4,
.category5 {
	left: 100%;
	visibility: hidden;
}
/*
.category2 {
	left: 20%;
}

.category3 {
	left: 40%;
}

.category4 {
	left: 60%;
}

.category5 {
	left: 80%;
}
*/

li{
	font-family: 'Karla', sans-serif;
	list-style-type: none;
	cursor: pointer;
	width:150px;
}
.category5 h1,
.category4 h1 {
	font-family: 'Karla', sans-serif;
}
.category5 p,
.category4 p {
	font-family: 'Karla', sans-serif;
	line-height:1.5;
}

#Portfolio_page h1,
#Met_page h1,
#Watermark_page h1,
#Jolly_Roger_page h1,
#Bolt_page h1 {
	color: #FF2F6D;
}